flows.json
[{"id":"593f777f.f00898","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6b89a7d4.e5eff8","type":"inject","z":"593f777f.f00898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":240,"wires":[["17018d1a.80ddd3"]]},{"id":"17018d1a.80ddd3","type":"http request","z":"593f777f.f00898","name":"weather","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mumbai, IN&appid=80a19d6af38283c126f2021f4145bfea","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":240,"wires":[["dea0faf7.37c528","638ff8a3.5b3168","1054dd37.138083","38a644b1.a5031c","be785ced.8a916","b106d097.5b8d5"]]},{"id":"5e456159.66ad4","type":"debug","z":"593f777f.f00898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":220,"wires":[]},{"id":"dea0faf7.37c528","type":"change","z":"593f777f.f00898","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["5e456159.66ad4","e9ff5bb6.a7ed28"]]},{"id":"638ff8a3.5b3168","type":"function","z":"593f777f.f00898","name":"Temperature","func":"msg.payload=msg.payload.main.temp;\nvar t=msg.payload;\nt=t-273.000;\nt=parseFloat(t).toFixed(1)\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["5e456159.66ad4","86113649.7bde58"]]},{"id":"1054dd37.138083","type":"change","z":"593f777f.f00898","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[["5e456159.66ad4","d3c3c890.8df7e8"]]},{"id":"38a644b1.a5031c","type":"change","z":"593f777f.f00898","name":"Weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["5e456159.66ad4","c9ddd161.841ea"]]},{"id":"e9ff5bb6.a7ed28","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"a5467050.c75db","order":5,"width":"6","height":"6","gtype":"gage","title":"Pressure","label":"hpa","format":"{{value}}","min":"900","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":300,"wires":[]},{"id":"d3c3c890.8df7e8","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"a5467050.c75db","order":3,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"% Humidity","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":160,"wires":[]},{"id":"86113649.7bde58","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"a5467050.c75db","order":2,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"degree Celcius","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":80,"wires":[]},{"id":"c9ddd161.841ea","type":"ui_text","z":"593f777f.f00898","group":"a8d5cb2e.72d128","order":4,"width":"6","height":"2","name":"","label":"Weather","format":"{{msg.payload}}","layout":"col-center","x":900,"y":420,"wires":[]},{"id":"ad0a806f.42ad2","type":"ibmiot out","z":"593f777f.f00898","authentication":"apiKey","apiKey":"c83fe9c9.194858","outputType":"cmd","deviceId":"002-motor","deviceType":"smart_agri","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":600,"wires":[]},{"id":"b2858e54.d3438","type":"ui_button","z":"593f777f.f00898","name":"","group":"2c635057.a6cef","order":6,"width":"6","height":"1","passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":300,"y":540,"wires":[["ad0a806f.42ad2","f25abc2b.f9f9f","b6a8289b.388658"]]},{"id":"e0162420.1b2398","type":"ui_button","z":"593f777f.f00898","name":"","group":"2c635057.a6cef","order":7,"width":"6","height":"1","passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":310,"y":680,"wires":[["ad0a806f.42ad2","f25abc2b.f9f9f","b6a8289b.388658"]]},{"id":"f25abc2b.f9f9f","type":"debug","z":"593f777f.f00898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":540,"wires":[]},{"id":"b106d097.5b8d5","type":"ibmiot out","z":"593f777f.f00898","authentication":"apiKey","apiKey":"c83fe9c9.194858","outputType":"evt","deviceId":"002-motor","deviceType":"smart_agri","eventCommandType":"click","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":340,"wires":[]},{"id":"be785ced.8a916","type":"change","z":"593f777f.f00898","name":"City","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[["1e97588f.658597","5e456159.66ad4"]]},{"id":"1e97588f.658597","type":"ui_text","z":"593f777f.f00898","group":"a8d5cb2e.72d128","order":1,"width":"6","height":"2","name":"","label":"LOCATION","format":"{{msg.payload}}","layout":"col-center","x":780,"y":40,"wires":[]},{"id":"26866d33.bb9392","type":"ui_toast","z":"593f777f.f00898","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alert","name":"Info","x":590,"y":460,"wires":[],"icon":"node-red/envelope.svg"},{"id":"b6a8289b.388658","type":"function","z":"593f777f.f00898","name":"command","func":"msg.payload=msg.payload.command;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["26866d33.bb9392"]]},{"id":"c3c24870.383878","type":"debug","z":"593f777f.f00898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":880,"wires":[]},{"id":"97f0e2d1.7e8f1","type":"function","z":"593f777f.f00898","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":820,"wires":[["c3c24870.383878","5d9471c0.c616a"]]},{"id":"3d833ed4.25f962","type":"function","z":"593f777f.f00898","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":920,"wires":[["c3c24870.383878","bf9169ac.a64a38"]]},{"id":"915aa276.c0fbe","type":"ibmiot in","z":"593f777f.f00898","authentication":"apiKey","apiKey":"c83fe9c9.194858","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":370,"y":880,"wires":[["97f0e2d1.7e8f1","3d833ed4.25f962","2762740c.03e14c","c3c24870.383878"]]},{"id":"2762740c.03e14c","type":"function","z":"593f777f.f00898","name":"object temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1020,"wires":[["c3c24870.383878","d5d36c6f.d636e"]]},{"id":"c94928a0.520798","type":"http request","z":"593f777f.f00898","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/forecast?q=Mumbai&appid=80a19d6af38283c126f2021f4145bfea","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1280,"wires":[["704818a6.5b46b8","3a0690f1.65b34","9ebbace6.4e516","8f809eeb.bfcb","649ceaed.759614","f44440c1.536e4","3cf585fa.d3366a"]]},{"id":"17b9c34b.b3954d","type":"inject","z":"593f777f.f00898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1280,"wires":[["c94928a0.520798"]]},{"id":"704818a6.5b46b8","type":"debug","z":"593f777f.f00898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":1280,"wires":[]},{"id":"3a0690f1.65b34","type":"change","z":"593f777f.f00898","name":"weatherpost3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.list[9].weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1140,"wires":[["704818a6.5b46b8","44d305af.2bf47c"]]},{"id":"649ceaed.759614","type":"change","z":"593f777f.f00898","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.list[9].main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1520,"wires":[["704818a6.5b46b8","d294a84c.51f438"]]},{"id":"9ebbace6.4e516","type":"function","z":"593f777f.f00898","name":"Temperature","func":"msg.payload=msg.payload.list[9].main.temp;\nvar t=msg.payload;\nt=t-273.000;\nt=parseFloat(t).toFixed(1)\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1360,"wires":[["704818a6.5b46b8","b352f483.4caac8"]]},{"id":"8f809eeb.bfcb","type":"change","z":"593f777f.f00898","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.list[9].main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1440,"wires":[["704818a6.5b46b8","20b9db38.367724"]]},{"id":"d294a84c.51f438","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"be2f04d3.9c28b8","order":5,"width":"6","height":"6","gtype":"gage","title":"Pressure","label":"hpa","format":"{{value}}","min":"900","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":1520,"wires":[]},{"id":"20b9db38.367724","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"be2f04d3.9c28b8","order":3,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"% Humidity","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":1440,"wires":[]},{"id":"b352f483.4caac8","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"be2f04d3.9c28b8","order":2,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"degree Celcius","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1360,"wires":[]},{"id":"44d305af.2bf47c","type":"ui_text","z":"593f777f.f00898","group":"f2312a46.4b6de8","order":4,"width":"6","height":"1","name":"","label":"Weather","format":"{{msg.payload}}","layout":"col-center","x":860,"y":1140,"wires":[]},{"id":"f44440c1.536e4","type":"change","z":"593f777f.f00898","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.list[9].dt_txt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1220,"wires":[["2e3c0248.59046e","704818a6.5b46b8"]]},{"id":"2e3c0248.59046e","type":"ui_text","z":"593f777f.f00898","group":"f2312a46.4b6de8","order":4,"width":"6","height":"1","name":"","label":"At time","format":"{{msg.payload}}","layout":"col-center","x":860,"y":1220,"wires":[]},{"id":"3cf585fa.d3366a","type":"change","z":"593f777f.f00898","name":"Rain Volume(mm)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.list[9].rain.3h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1620,"wires":[["d8a3589b.8b4a78"]]},{"id":"d8a3589b.8b4a78","type":"ui_text","z":"593f777f.f00898","group":"f2312a46.4b6de8","order":3,"width":"6","height":"1","name":"","label":"Rain Volume(mm)","format":"{{msg.payload}}","layout":"col-center","x":840,"y":1620,"wires":[]},{"id":"5d9471c0.c616a","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"3771b54.6c0564a","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"degree Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":780,"wires":[]},{"id":"bf9169ac.a64a38","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"3771b54.6c0564a","order":3,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":960,"wires":[]},{"id":"d5d36c6f.d636e","type":"ui_gauge","z":"593f777f.f00898","name":"","group":"3771b54.6c0564a","order":1,"width":"6","height":"6","gtype":"gage","title":"Object Temperature","label":"Degree Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":1060,"wires":[]},{"id":"a5467050.c75db","type":"ui_group","z":"","name":"SPECIFICATIONS","tab":"14b169a0.5f59a6","order":2,"disp":true,"width":"18","collapse":false},{"id":"a8d5cb2e.72d128","type":"ui_group","z":"","name":"INFO","tab":"14b169a0.5f59a6","order":2,"disp":true,"width":"6","collapse":false},{"id":"c83fe9c9.194858","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"jour2i.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2c635057.a6cef","type":"ui_group","z":"","name":"CONTROLS","tab":"14b169a0.5f59a6","order":3,"disp":true,"width":"6","collapse":false},{"id":"be2f04d3.9c28b8","type":"ui_group","z":"","name":"SPECIFICATIONS","tab":"75712b79.7c3184","order":2,"disp":true,"width":"18","collapse":false},{"id":"f2312a46.4b6de8","type":"ui_group","z":"","name":"Weather","tab":"75712b79.7c3184","order":6,"disp":true,"width":"18","collapse":false},{"id":"3771b54.6c0564a","type":"ui_group","z":"","name":"Sensor Data","tab":"14b169a0.5f59a6","order":4,"disp":true,"width":"18","collapse":false},{"id":"14b169a0.5f59a6","type":"ui_tab","z":"","name":"SMART AGRICULTURE","icon":"dashboard","disabled":false,"hidden":false},{"id":"75712b79.7c3184","type":"ui_tab","z":"","name":"FORCAST","icon":"dashboard","disabled":false,"hidden":false}]